@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #F3F5FC;
    color: #0A3871;
    box-sizing: border-box;
}
.img-header{
    padding: 40px 0px 0px 40px;
}
.presentacion{
    display: flex;
    align-items: center;
    padding: 5% 15% 0% ; /*padding genera margen dentro del elemento*/
    justify-content: space-between;
    gap: 10%;
}
.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px; /*genera la separacion entre elementos de la columna*/
}
::placeholder{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    color:#0A3871;
    padding: 0px 0px 0px 0px;  
}
.textarea{
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color:#0A3871;
  border: none;
  height: 25rem;
  resize: none;
  padding: 0px 0px 0px 0px;
}
.warning {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre el ícono y el texto */
    font-family: "Inter", sans-serif; /* Asegurarse de que la fuente sea consistente */
    font-size: 12px; /* Ajusta el tamaño del texto según sea necesario */
    color: #495057; /* Color del texto */
}
.botonera{
    display: flex;
    gap: 1.5rem;
}
.btn_encriptar{
    width: 50%;
    padding: 24px;
    background-color: #0A3871;
    text-align: center;
    border-radius: 1.5rem;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn_desencriptar {
    width: 50%;
    padding: 24px;
    background-color: #D8DFE8;
    border: 1px solid #0A3871; /* Se añade el estilo 'solid' para el borde */
    text-align: center;
    border-radius: 1.5rem;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #0A3871;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.derecha {
    background-color: #FFFFFF;
    width: 23rem;
    height: 42rem;
    padding: 10px;
    border-radius: 32px;
    box-shadow: 0 4px 8px rgba(77, 76, 76, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Asegura que los elementos se distribuyan */
    align-items: center;
}

#btn_copiar {
    width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
    text-align: center; /* Centra el texto dentro del botón */
    display: flex; /* Oculta el botón por defecto */
    margin-top: auto; /* Empuja el botón al fondo del contenedor */
}

.salida_texto{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color:#495057;
}
.img-muneco{
    padding: 30% 32px 0px 32px;
    display: block;
}
.parrafo-titulo{
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: #343A40;
    text-align: center;
    font-weight:bold;
}
.parrafo-texto{
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: #495057;
    text-align: center;
}
.footer{
    background-color:#0A3871;
    color:#D8DFE8;
    font-family: "Inter", sans-serif;
}

@media (max-width: 820px){
    .img-header{
        padding: 73.42px 0px 0px 40px;
    }
    .presentacion{
        flex-direction: column;
        padding: 5%;
    }
    .botonera{
        width: auto;
        padding: 0%;
    }
    .img-muneco{
        visibility: hidden;
        display: none;
    }
    .derecha{
         height: auto;
    }
}
@media (max-width: 412px){
    .img-header{
        padding: 24px 0px 0px 16px;
    }
    .textarea{
        width: 100%;
        box-sizing: border-box; /* Asegura que padding/border se incluya en el ancho */
    }
    .presentacion__contenido {
        width: 100%; /* Asegura que el contenedor también ocupe el 100% */
    }
    .botonera {
        flex-direction: column; /* Hace que los elementos se apilen verticalmente */
        gap: 1rem; /* Espacio entre los botones */
        width: 90%;
    }
    .btn_encriptar,
    .btn_desencriptar {
        width: 90%; /* Asegura que los botones ocupen todo el ancho disponible */
        text-align: center; /* Centra el texto dentro de los botones */
    }
}